In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Sales_December_2019.csv")

In [4]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [5]:
df.head(8)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
5,295670,AA Batteries (4-pack),1,3.84,12/31/19 22:58,"200 Jefferson St, New York City, NY 10001"
6,295671,USB-C Charging Cable,1,11.95,12/16/19 15:10,"928 12th St, Portland, OR 97035"
7,295672,USB-C Charging Cable,2,11.95,12/13/19 09:29,"813 Hickory St, Dallas, TX 75001"

In [6]:
df.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [7]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [8]:
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [9]:
df.shape

(25117, 6)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25037 non-null  object
 3   Price Each        25037 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [11]:
df.iloc[0]

Order ID                                            295665
Product                                 Macbook Pro Laptop
Quantity Ordered                                         1
Price Each                                            1700
Order Date                                  12/30/19 00:01
Purchase Address    136 Church St, New York City, NY 10001
Name: 0, dtype: object

In [12]:
df.isnull().sum()

Order ID            80
Product             80
Quantity Ordered    80
Price Each          80
Order Date          80
Purchase Address    80
dtype: int64

In [13]:
df=df.dropna()

In [14]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [15]:
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,25037,25037,25037,25037,25037,25037
unique,24007,20,8,19,17306,23215
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,48,2981,22641,2981,48,48

In [16]:
df.duplicated().sum()

np.int64(87)

In [17]:
df=df.drop_duplicates()

In [18]:
df.duplicated().sum()

np.int64(0)

In [19]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [24]:
df=df.rename(columns={"Product":"items"})

In [25]:
df=df.rename(columns={"Quantity Ordered":"no. of orders"})
#Quantity Ordered

In [26]:
df

,Order ID,items,no. of orders,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [43]:
df=df.sort_values("items",ascending=False)

In [44]:
df

,Order ID,items,no. of orders,Price Each,Order Date,Purchase Address
11886,306996,iPhone,1,700,12/11/19 16:59,"771 Jackson St, San Francisco, CA 94016"
14149,309164,iPhone,1,700,12/16/19 16:59,"890 Cherry St, Dallas, TX 75001"
18306,313149,iPhone,1,700,12/20/19 08:43,"427 Meadow St, San Francisco, CA 94016"
22811,317454,iPhone,1,700,12/28/19 05:26,"564 Dogwood St, Austin, TX 73301"
13545,308591,iPhone,1,700,12/12/19 23:16,"431 South St, Boston, MA 02215"
...,...,...,...,...,...,...
24831,319393,20in Monitor,1,109.99,12/02/19 19:03,"832 Main St, Los Angeles, CA 90001"
7771,303074,20in Monitor,1,109.99,12/12/19 17:32,"105 Chestnut St, San Francisco, CA 94016"
1962,297529,20in Monitor,1,109.99,12/13/19 14:11,"527 Washington St, Dallas, TX 75001"
16390,311333,20in Monitor,1,109.99,12/12/19 22:08,"701 Adams St, Dallas, TX 75001"
11046,306202,20in Monitor,1,109.99,12/11/19 16:54,"511 Walnut St, Atlanta, GA 30301"

In [30]:
df.tail()

,Order ID,items,no. of orders,Price Each,Order Date,Purchase Address
1699,297278,iPhone,1,700,12/09/19 20:06,"418 West St, Los Angeles, CA 90001"
756,296382,iPhone,1,700,12/30/19 10:03,"215 Willow St, Dallas, TX 75001"
23142,317769,iPhone,1,700,12/18/19 12:05,"721 Hickory St, Seattle, WA 98101"
24218,318802,iPhone,1,700,12/20/19 01:49,"600 Sunset St, San Francisco, CA 94016"
11886,306996,iPhone,1,700,12/11/19 16:59,"771 Jackson St, San Francisco, CA 94016"

In [41]:
df["items"].unique()

array(['20in Monitor', '27in 4K Gaming Monitor', '27in FHD Monitor',
       '34in Ultrawide Monitor', 'AA Batteries (4-pack)',
       'AAA Batteries (4-pack)', 'Apple Airpods Headphones',
       'Bose SoundSport Headphones', 'Flatscreen TV', 'Google Phone',
       'LG Dryer', 'LG Washing Machine', 'Lightning Charging Cable',
       'Macbook Pro Laptop', 'Product', 'ThinkPad Laptop',
       'USB-C Charging Cable', 'Vareebadd Phone', 'Wired Headphones',
       'iPhone'], dtype=object)

In [45]:
df["items"].value_counts()

items
USB-C Charging Cable          2980
Lightning Charging Cable      2888
AAA Batteries (4-pack)        2828
AA Batteries (4-pack)         2712
Wired Headphones              2533
Apple Airpods Headphones      2054
Bose SoundSport Headphones    1804
27in FHD Monitor               962
iPhone                         908
27in 4K Gaming Monitor         858
34in Ultrawide Monitor         845
Google Phone                   715
Flatscreen TV                  660
Macbook Pro Laptop             644
20in Monitor                   568
ThinkPad Laptop                539
Vareebadd Phone                285
LG Dryer                        86
LG Washing Machine              80
Product                          1
Name: count, dtype: int64