In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\hayat\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl (13.1 MB)
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
    --------------------------------------- 0.3/13.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/13.1 MB 1.1 MB/s eta 0:00:12
   -- ------------------------------------- 0.8/13.1 MB 882.6 kB/s eta 0:00:14
   -- ------------------------------------- 0.8/13.1 MB 882.6 kB/s eta 0:00:14
   --- ------------------------------------ 1.0/13.1 MB 824.4 kB/s eta 0:00:15
   --- ------------------------------------ 1.0/13.1 MB 824.4 kB/s eta 0:00:15
   --- ------------------------------------ 1.0/13.1 MB 824.4 kB/s eta 0:00:15
   ---- ----------------------------------- 1.6/13.1 MB 791.0 kB/s eta 0:00:15
   ----- ---------------------------------- 1.8/13.1 MB 845.6 kB/s eta 0:00:14
   ------ --------------------------------- 2.1/13.1 MB 931.9 kB/s eta 0:00:12
   ------- -------------------------------- 2.4/13.1 MB 919.0 kB/s eta 0:00:12
   ------- -------------------------------- 2.4/13.1 MB 919.0 kB/s eta 0:00:12
   ------- -------------------------------- 2.4/13.1 MB 919.0 kB/s eta 0:00:12
   ------- -------------------------------- 2.4/13.1 MB 919.0 kB/s eta 0:00:12
   ------- -------------------------------- 2.4/13.1 MB 919.0 kB/s eta 0:00:12
   ------- -------------------------------- 2.4/13.1 MB 919.0 kB/s eta 0:00:12
   -------- ------------------------------- 2.9/13.1 MB 749.0 kB/s eta 0:00:14
   -------- ------------------------------- 2.9/13.1 MB 749.0 kB/s eta 0:00:14
   -------- ------------------------------- 2.9/13.1 MB 749.0 kB/s eta 0:00:14
   ---------- ----------------------------- 3.4/13.1 MB 740.2 kB/s eta 0:00:14
   ---------- ----------------------------- 3.4/13.1 MB 740.2 kB/s eta 0:00:14
   ---------- ----------------------------- 3.4/13.1 MB 740.2 kB/s eta 0:00:14
   ------------ --------------------------- 3.9/13.1 MB 775.1 kB/s eta 0:00:12
   ------------ --------------------------- 4.2/13.1 MB 796.3 kB/s eta 0:00:12
   ------------- -------------------------- 4.5/13.1 MB 806.0 kB/s eta 0:00:11
   -------------- ------------------------- 4.7/13.1 MB 803.4 kB/s eta 0:00:11
   -------------- ------------------------- 4.7/13.1 MB 803.4 kB/s eta 0:00:11
   -------------- ------------------------- 4.7/13.1 MB 803.4 kB/s eta 0:00:11
   ---------------- ----------------------- 5.2/13.1 MB 819.3 kB/s eta 0:00:10
   ---------------- ----------------------- 5.2/13.1 MB 819.3 kB/s eta 0:00:10
   ---------------- ----------------------- 5.5/13.1 MB 812.3 kB/s eta 0:00:10
   ----------------- ---------------------- 5.8/13.1 MB 819.3 kB/s eta 0:00:09
   ------------------ --------------------- 6.0/13.1 MB 838.9 kB/s eta 0:00:09
   ------------------- -------------------- 6.3/13.1 MB 836.9 kB/s eta 0:00:09
   ------------------- -------------------- 6.3/13.1 MB 836.9 kB/s eta 0:00:09
   ------------------- -------------------- 6.3/13.1 MB 836.9 kB/s eta 0:00:09
   ------------------- -------------------- 6.3/13.1 MB 836.9 kB/s eta 0:00:09
   ------------------- -------------------- 6.3/13.1 MB 836.9 kB/s eta 0:00:09
   -------------------- ------------------- 6.8/13.1 MB 795.8 kB/s eta 0:00:08
   -------------------- ------------------- 6.8/13.1 MB 795.8 kB/s eta 0:00:08
   -------------------- ------------------- 6.8/13.1 MB 795.8 kB/s eta 0:00:08
   -------------------- ------------------- 6.8/13.1 MB 795.8 kB/s eta 0:00:08
   -------------------- ------------------- 6.8/13.1 MB 795.8 kB/s eta 0:00:08
   -------------------- ------------------- 6.8/13.1 MB 795.8 kB/s eta 0:00:08
   -------------------- ------------------- 6.8/13.1 MB 795.8 kB/s eta 0:00:08
   --------------------- ------------------ 7.1/13.1 MB 711.5 kB/s eta 0:00:09
   --------------------- ------------------ 7.1/13.1 MB 711.5 kB/s eta 0:00:09
   ---------------------- ----------------- 7.3/13.1 MB 705.5 kB/s eta 0:00:09
   ---------------------- ----------------- 7.3/13.1 MB 705.5 kB/s eta 0:00:09
   ----------------------- ---------------- 7.6/13.1 MB 699.0 kB/s eta 0:00:08
   ----------------------- ---------------- 7.6/13.1 MB 699.0 kB/s eta 0:00:08
   ------------------------ --------------- 7.9/13.1 MB 699.0 kB/s eta 0:00:08
   ------------------------ --------------- 8.1/13.1 MB 702.9 kB/s eta 0:00:08
   ------------------------ --------------- 8.1/13.1 MB 702.9 kB/s eta 0:00:08
   ------------------------- -------------- 8.4/13.1 MB 694.3 kB/s eta 0:00:07
   ------------------------- -------------- 8.4/13.1 MB 694.3 kB/s eta 0:00:07
   -------------------------- ------------- 8.7/13.1 MB 691.8 kB/s eta 0:00:07
   -------------------------- ------------- 8.7/13.1 MB 691.8 kB/s eta 0:00:07
   --------------------------- ------------ 8.9/13.1 MB 695.5 kB/s eta 0:00:07
   --------------------------- ------------ 8.9/13.1 MB 695.5 kB/s eta 0:00:07
   --------------------------- ------------ 8.9/13.1 MB 695.5 kB/s eta 0:00:07
   --------------------------- ------------ 8.9/13.1 MB 695.5 kB/s eta 0:00:07
   --------------------------- ------------ 8.9/13.1 MB 695.5 kB/s eta 0:00:07
   --------------------------- ------------ 8.9/13.1 MB 695.5 kB/s eta 0:00:07
   ---------------------------- ----------- 9.2/13.1 MB 648.9 kB/s eta 0:00:07
   ---------------------------- ----------- 9.2/13.1 MB 648.9 kB/s eta 0:00:07
   ---------------------------- ----------- 9.2/13.1 MB 648.9 kB/s eta 0:00:07
   ---------------------------- ----------- 9.4/13.1 MB 634.1 kB/s eta 0:00:06
   ---------------------------- ----------- 9.4/13.1 MB 634.1 kB/s eta 0:00:06
   ---------------------------- ----------- 9.4/13.1 MB 634.1 kB/s eta 0:00:06
   ----------------------------- ---------- 9.7/13.1 MB 629.1 kB/s eta 0:00:06
   ----------------------------- ---------- 9.7/13.1 MB 629.1 kB/s eta 0:00:06
   ----------------------------- ---------- 9.7/13.1 MB 629.1 kB/s eta 0:00:06
   ----------------------------- ---------- 9.7/13.1 MB 629.1 kB/s eta 0:00:06
   ----------------------------- ---------- 9.7/13.1 MB 629.1 kB/s eta 0:00:06
   ----------------------------- ---------- 9.7/13.1 MB 629.1 kB/s eta 0:00:06
   ----------------------------- ---------- 9.7/13.1 MB 629.1 kB/s eta 0:00:06
   ------------------------------ --------- 10.0/13.1 MB 586.2 kB/s eta 0:00:06
   ------------------------------ --------- 10.0/13.1 MB 586.2 kB/s eta 0:00:06
   ------------------------------ --------- 10.0/13.1 MB 586.2 kB/s eta 0:00:06
   ------------------------------ --------- 10.0/13.1 MB 586.2 kB/s eta 0:00:06
   ------------------------------ --------- 10.0/13.1 MB 586.2 kB/s eta 0:00:06
   ------------------------------- -------- 10.2/13.1 MB 564.2 kB/s eta 0:00:06
   ------------------------------- -------- 10.2/13.1 MB 564.2 kB/s eta 0:00:06
   ------------------------------- -------- 10.2/13.1 MB 564.2 kB/s eta 0:00:06
   ------------------------------- -------- 10.2/13.1 MB 564.2 kB/s eta 0:00:06
   ------------------------------- -------- 10.2/13.1 MB 564.2 kB/s eta 0:00:06
   ------------------------------- -------- 10.2/13.1 MB 564.2 kB/s eta 0:00:06
   -------------------------------- ------- 10.5/13.1 MB 541.2 kB/s eta 0:00:05
   -------------------------------- ------- 10.5/13.1 MB 541.2 kB/s eta 0:00:05
   -------------------------------- ------- 10.5/13.1 MB 541.2 kB/s eta 0:00:05
   -------------------------------- ------- 10.5/13.1 MB 541.2 kB/s eta 0:00:05
   -------------------------------- ------- 10.7/13.1 MB 528.4 kB/s eta 0:00:05
   -------------------------------- ------- 10.7/13.1 MB 528.4 kB/s eta 0:00:05
   -------------------------------- ------- 10.7/13.1 MB 528.4 kB/s eta 0:00:05
   -------------------------------- ------- 10.7/13.1 MB 528.4 kB/s eta 0:00:05
   -------------------------------- ------- 10.7/13.1 MB 528.4 kB/s eta 0:00:05
   -------------------------------- ------- 10.7/13.1 MB 528.4 kB/s eta 0:00:05
   --------------------------------- ------ 11.0/13.1 MB 509.9 kB/s eta 0:00:05
   --------------------------------- ------ 11.0/13.1 MB 509.9 kB/s eta 0:00:05
   --------------------------------- ------ 11.0/13.1 MB 509.9 kB/s eta 0:00:05
   --------------------------------- ------ 11.0/13.1 MB 509.9 kB/s eta 0:00:05
   --------------------------------- ------ 11.0/13.1 MB 509.9 kB/s eta 0:00:05
   --------------------------------- ------ 11.0/13.1 MB 509.9 kB/s eta 0:00:05
   --------------------------------- ------ 11.0/13.1 MB 509.9 kB/s eta 0:00:05
   --------------------------------- ------ 11.0/13.1 MB 509.9 kB/s eta 0:00:05
   ---------------------------------- ----- 11.3/13.1 MB 483.3 kB/s eta 0:00:04
   ---------------------------------- ----- 11.3/13.1 MB 483.3 kB/s eta 0:00:04
   ---------------------------------- ----- 11.3/13.1 MB 483.3 kB/s eta 0:00:04
   ---------------------------------- ----- 11.3/13.1 MB 483.3 kB/s eta 0:00:04
   ---------------------------------- ----- 11.3/13.1 MB 483.3 kB/s eta 0:00:04
   ---------------------------------- ----- 11.3/13.1 MB 483.3 kB/s eta 0:00:04
   ---------------------------------- ----- 11.3/13.1 MB 483.3 kB/s eta 0:00:04
   ----------------------------------- ---- 11.5/13.1 MB 463.0 kB/s eta 0:00:04
   ----------------------------------- ---- 11.5/13.1 MB 463.0 kB/s eta 0:00:04
   ----------------------------------- ---- 11.5/13.1 MB 463.0 kB/s eta 0:00:04
   ----------------------------------- ---- 11.5/13.1 MB 463.0 kB/s eta 0:00:04
   ----------------------------------- ---- 11.5/13.1 MB 463.0 kB/s eta 0:00:04
   ------------------------------------ --- 11.8/13.1 MB 452.9 kB/s eta 0:00:03
   ------------------------------------ --- 11.8/13.1 MB 452.9 kB/s eta 0:00:03
   ------------------------------------ --- 11.8/13.1 MB 452.9 kB/s eta 0:00:03
   ------------------------------------ --- 11.8/13.1 MB 452.9 kB/s eta 0:00:03
   ------------------------------------ --- 11.8/13.1 MB 452.9 kB/s eta 0:00:03
   ------------------------------------ --- 11.8/13.1 MB 452.9 kB/s eta 0:00:03
   ------------------------------------ --- 12.1/13.1 MB 441.0 kB/s eta 0:00:03
   ------------------------------------ --- 12.1/13.1 MB 441.0 kB/s eta 0:00:03
   ------------------------------------ --- 12.1/13.1 MB 441.0 kB/s eta 0:00:03
   ------------------------------------ --- 12.1/13.1 MB 441.0 kB/s eta 0:00:03
   ------------------------------------ --- 12.1/13.1 MB 441.0 kB/s eta 0:00:03
   ------------------------------------ --- 12.1/13.1 MB 441.0 kB/s eta 0:00:03
   ------------------------------------ --- 12.1/13.1 MB 441.0 kB/s eta 0:00:03
   ------------------------------------ --- 12.1/13.1 MB 441.0 kB/s eta 0:00:03
   ------------------------------------- -- 12.3/13.1 MB 424.3 kB/s eta 0:00:02
   ------------------------------------- -- 12.3/13.1 MB 424.3 kB/s eta 0:00:02
   -------------------------------------- - 12.6/13.1 MB 427.2 kB/s eta 0:00:02
   -------------------------------------- - 12.6/13.1 MB 427.2 kB/s eta 0:00:02
   -------------------------------------- - 12.6/13.1 MB 427.2 kB/s eta 0:00:02
   -------------------------------------- - 12.6/13.1 MB 427.2 kB/s eta 0:00:02
   -------------------------------------- - 12.6/13.1 MB 427.2 kB/s eta 0:00:02
   ---------------------------------------  12.8/13.1 MB 421.4 kB/s eta 0:00:01
   ---------------------------------------  12.8/13.1 MB 421.4 kB/s eta 0:00:01
   ---------------------------------------  12.8/13.1 MB 421.4 kB/s eta 0:00:01
   ---------------------------------------  12.8/13.1 MB 421.4 kB/s eta 0:00:01
   ---------------------------------------- 13.1/13.1 MB 404.5 kB/s  0:00:31
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.23.0
    Uninstalling numpy-1.23.0:
      Successfully uninstalled numpy-1.23.0
Successfully installed numpy-2.3.3
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
chromadb 0.5.23 requires tokenizers<=0.20.3,>=0.13.2, but you have tokenizers 0.21.4 which is incompatible.
crewai 0.100.1 requires pdfplumber>=0.11.4, but you have pdfplumber 0.7.4 which is incompatible.
embedchain 0.1.126 requires rich<14.0.0,>=13.7.0, but you have rich 14.1.0 which is incompatible.
fastembed 0.7.1 requires pillow<12.0.0,>=10.3.0, but you have pillow 9.3.0 which is incompatible.
langchain 0.3.18 requires numpy<2,>=1.26.4; python_version < "3.12", but you have numpy 2.3.3 which is incompatible.
langchain-community 0.3.17 requires numpy<2,>=1.26.4; python_version < "3.12", but you have numpy 2.3.3 which is incompatible.
langchain-community 0.3.17 requires pydantic-settings<3.0.0,>=2.4.0, but you have pydantic-settings 2.2.1 which is incompatible.
scipy 1.13.1 requires numpy<2.3,>=1.22.4, but you have numpy 2.3.3 which is incompatible.
streamlit 1.42.0 requires rich<14,>=10.14.0, but you have rich 14.1.0 which is incompatible.

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("Sales_December_2019.csv")

In [6]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [8]:
df.head(8)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
5,295670,AA Batteries (4-pack),1,3.84,12/31/19 22:58,"200 Jefferson St, New York City, NY 10001"
6,295671,USB-C Charging Cable,1,11.95,12/16/19 15:10,"928 12th St, Portland, OR 97035"
7,295672,USB-C Charging Cable,2,11.95,12/13/19 09:29,"813 Hickory St, Dallas, TX 75001"

In [9]:
df.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [10]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [11]:
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [13]:
df.shape

(25117, 6)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25037 non-null  object
 3   Price Each        25037 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

Order ID            80
Product             80
Quantity Ordered    80
Price Each          80
Order Date          80
Purchase Address    80
dtype: int64

In [16]:
df.iloc[0]

Order ID                                            295665
Product                                 Macbook Pro Laptop
Quantity Ordered                                         1
Price Each                                            1700
Order Date                                  12/30/19 00:01
Purchase Address    136 Church St, New York City, NY 10001
Name: 0, dtype: object

In [17]:
df.isnull().sum()

Order ID            80
Product             80
Quantity Ordered    80
Price Each          80
Order Date          80
Purchase Address    80
dtype: int64

In [19]:
df=df.dropna()

In [20]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [21]:
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,25037,25037,25037,25037,25037,25037
unique,24007,20,8,19,17306,23215
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,48,2981,22641,2981,48,48

In [23]:
df.duplicated().sum()

np.int64(87)

In [25]:
df=df.drop_duplicates()

In [26]:
df.duplicated().sum()

np.int64(0)